<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <% @users.each do |user| %>
      <div class="add_user col-sm-3">
        <center>
        <%= link_to user_path(user) do %>
          <img style="width:100px;" src="<%=user.image%>" >
          </br>
          <p><strong><%= user.username%></strong></p>

          <div class="compat">
            <%=score_star (compat current_user, user)%>
            <br>
            <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post, class:"btn" %>
          </div>
        
        <%end%>
        </center>
      </div>
    <%end%>
  </div>
</div>