<%= console %>
<div class="row">
  <% @users.each do |user| %>
    <div class="col-sm-3">
      <%= link_to user_path(user) do %>
        <center><img style="width:100px;" src="<%=user.image%>" ></center>
        </br>
        <p><center><%= user.username%></center></p>
        <div class="compat">
          <center><%=score_star (compat current_user, user)%></center>
        </div>
      
      <%end%>
    </div>
  <%end%>

</div>