<section class='intro'>
<div class="col-sm-10 col col-sm-offset-1 well clearfix">
<%= form_for @membership do |f| %>
  <h4>Select a user to make a member</h4>
  <!-- add current user to group -->
  <%=f.hidden_field :user_id, :value => current_user.id %>
  <div>
   <!--  drop down menue to select user -->
  <div>
    <h4>Select a user to make a member</h4>
      <%= fields_for (@users) do |u| %>
        <div class= 'field'>
          <%= u.label "All users" %> </br>
          <%= f.collection_select :user_id, @users, :id, :username, include_blank: true %>
        </div>
      <% end %>
  </div> 
  <div>
    <!-- drop down menu to select group to add users to -->
      <%= fields_for (@groups) do |g| %>
        <div class= 'field'>
          <%= g.label "All groups" %> </br>
          <%= f.collection_select :group_id, @groups, :id, :name, include_blank: true %>
        </div>
      <% end %>
  </div>


  <!-- need to add person making the group an automatic member to group -->


 <!--  if there are no member in the group delete it -->

  <%= f.submit "Submit", class:"btn btn-primary btn-lg pull-right" %>

<% end %>
</div>
  
</section>
