<!-- <section class='intro'> -->
  <!-- GROUP HEADER -->
  <div class="row">
      <h1 id="group-name"><%= "#{@group.name}" %><%=link_to "Edit Group Information", edit_group_path, class:"btn btn-sm btn-primary edit_group_btn" %><%= link_to "Add Members", new_membership_path, class:"btn btn-sm btn-primary" %></h1>
      <h5 id="group-des"><%= "#{@group.description}" %></h5>
      <p class="no-of-members"><%= @memberships.length-1 %> Members</p> <!-- Needs actually number once mems can be added -->
  </div>
  <!-- TABS -->
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#posts-panel" class="mdl-tabs__tab is-active">Posts</a>
        <a href="#members-panel" class="mdl-tabs__tab">Members</a>
        <a href="#events-panel" class="mdl-tabs__tab">Current Events</a>
    </div>
    <!-- POSTS TAB PAGE -->
      <div class="col-sm-offset-1 col-sm-10 mdl-tabs__panel is-active" id="posts-panel">
        <div class="hidden">
          <h2>Conversations going on in this Group</h2>
          <p>This is a place where members can share ideas, articles, or other information to help other parents out.</p>
          <h2>Parents conversations going on this group</h2>
        </div>
        <% @posts.each do |post| %>
          <div class="col-sm-2 pull-left">
            <%= link_to user_path(post.user) do %>
            <%= image_tag User.find(post.user_id).image, class:"user_img" %>
            <%end%>
          </div>
          <!--post profile button -->
          <div class="col-sm-offset-3">
            <h3><%= post.title %></h3>
            <p><%=post.content%></p>
            <p><small><%= link_to "Read More", post_path(post) %></small></p>
            </div>
          <hr>

        <% end %>
      </div>



    <!-- MEMBERS TAB PAGE -->
      <div class="col-sm-offset-2 col-sm-8 mdl-tabs__panel" id="members-panel">
        <% @group.memberships.each do |member| %>
          <center><div class="mem_card col-sm-3">
            <% user = User.find(member.user_id) %>
            <img src="<%= user.image %>" class="mem_img">
            <p><%= link_to "#{user.username}", user_path(user) %></p>
          </div></center>
        <% end %>
      </div>
    




    <!-- EVENTS TAB PAGE -->
      <div class="col-sm-offset-1 col-sm-10 mdl-tabs__panel" id="events-panel">
        <p>Coordinate, carpools, play time or other events here.  Events can sync to your calendar of choice.</p>
        <div>
          <h3>Create an Event</h3>
          <% if @events_errors %>
            <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
          <% end %>
          <%= form_for @event do |f| %>
            <%=f.hidden_field :group_id, :value => @group.id %>
            <%= f.text_field :title, class: "form-control", placeholder: 'Title', autofocus: true %>
            <%= f.text_area :description, class: "form-control", placeholder: 'Description' %>
            <%= f.date_field :date, class: "form-control" %>
            <br>
            <div class="text-right">
              <%= f.submit 'signup', value: "Create Event!", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div id="event-stream">
          <% @events.each do |e| %>
            <div class="col-sm-offset-3">
              <h3><%= e.title %></h3>
              <p><%= e.description%></p>
              <p><small><%= e.date %></small></p>
              </div>
            <hr>
          <% end %>
        </div>
      </div>
  </div>
<!-- </section>