<!-- SOMETHING JACKED UP WITH DIVS -->

<div class="container">
<!-- left column -->
  <div class="col-sm-4 user_data">
    <div class="row">
      <h4><%= "#{@user.full_name}" %> <small><%= "(#{@user.username})" %></small><br>
      <div><%= image_tag @user.image, class:"user_img" %> </div><br>
      <div class="compat">
        <!-- compatability -->
        <!-- hide if on current profile -->
        <% if session[:user_id] != @user.id %>
          <center><%=score_star (compat current_user, @user)%></center>
        <%end%>
      </div>
      <p><strong>Member Since:</strong> <%= "#{@user.created_at.to_date.to_formatted_s(:long_ordinal)}" %><br>
      <strong>Home City:</strong> <%= "#{@user.city}" %></p>
      <!-- hide if not that users profile -->
      <div>
        <% if session[:user_id] == @user.id %>
          <%=link_to "Edit profile", edit_user_path, class:"btn btn-sm btn-primary" %>
        <%end%>  
          <hr>
      </div>
    </div>
   
     
    <div class="row">
      <div>
      <h6>Belongs to Groups:</h6>
      <span class="group_list">
        <% @user.memberships.each do |group| %>
          <% group = Group.find(group.group_id) %>
          <%= link_to group_path(group.id) do%>
            <%= group.name %></br>
          <%end%>
        <% end %>
        </span>
      </div>
    </div>

    <!-- list of firends -->
    <div>
     <h2>Friends</h2>
      <ul>
      <!-- change @user.* to function built on model for actual friends  -->
        <% for friendship in @user.friendships %>
          <li>
            <%=h friendship.friend.username %>
            (<%= link_to "remove", friendship, :method => :delete %>)
          </li>
        <% end %>
      </ul>
     <p><%= link_to "Find Friends", compatability_path %></p>
    </div>


  </div>







  <div class="col-sm-6 right-col">
 <!--  right column -->
    <div class="row" id="parenting_phil">
      <h5><strong>Parenting Philosophy:</strong></h5><h6><%= "#{@user.bio}" %></h6>
    </div>
    <div class="row post_display">
      <% @user.posts.each do |p| %> 
        <h4><%= link_to "#{p.title}", post_path(p), class:"post_title" %></h4>
        <p class="pcontent"><%= p.content %> </p>
        <div>
          <!-- convert group id to group name -->
          <p class="group_display"><strong>Originally Posted in Group:</strong> 
          <br><%= p.group.name %></p>
          <!-- hide if not that users profile -->
          <% if session[:user_id] == @user.id %>
          <%= button_to "Edit Post", edit_post_path(p), class:"btn pairBtn post_btns btn-xs", method: :get %>
          <%= button_to "Delete Post", post_path(p), class:"btn pairBtn post_btns btn-xs", method: :delete %>
          <%end%>
        </div>
        <br>
        <hr class="hrline">
      <% end %>
    </div>
  </div>
</div>