<div class="container">
  <div class="row">
    <div class="col-sm-4 profile_pic">
      <%= image_tag @user.image %>
      <br> 
      <h4><%= "#{@user.full_name} #{@user.username}"  %> </h4>
      <br>

      </br>
      <p><%= "Joined on #{@user.created_at.to_date.to_formatted_s(:long_ordinal)}" %></p>
      <br>
      <p><%= "Home City: #{@user.city}" %></p>
      <!-- TODO change to link to specific user -->
      <%=link_to "Edit profile", edit_user_path, class:"btn btn-primary" %>
    </div>
    <div class="col-sm-8">
      <ul class="list-unstyled">
        <% @user.posts.each do |p| %> 
        <li>
          <div class="well clearfix">
            <h3><%= link_to "#{p.title}", post_path(p) %></h3>
            <br>
            <p><%= p.content %> </p>
            <br>
            <!-- convert group id to group name -->
            <h4><%= p.group_id %></h4>
            <%= button_to "Edit Post", edit_post_path(p), class:"pairBtn btn close", method: :get %>
            <%= button_to "Delete Post", post_path(p), class:"pairBtn btn close", method: :delete %>
          </div>
        </li>
        <% end %> 
      </ul>
    </div>
  </div>
</div>
