<div class="user_data container">
  <div class="col-sm-4">
    <div class="row">
      <h4><%= "#{@user.full_name}" %> <small><%= "(#{@user.username})" %></small><br>
      <div><%= image_tag @user.image, class:"user_img" %> </div><br>
      <p><strong>Member Since:</strong> <%= "#{@user.created_at.to_date.to_formatted_s(:long_ordinal)}" %><br>
      <strong>Home City:</strong> <%= "#{@user.city}" %></p>
      <%=link_to "Edit profile", edit_user_path, class:"btn btn-sm btn-primary" %>
      <hr>
    </div>
    <div class="row">
      GROUPS
    </div>
  </div>
    <div class="col-sm-6">
    <div class="row">
      <h5><strong>Parenting Philosophy:</strong></h5><h6><%= "#{@user.bio}" %></h6>
    </div>
    <hr>
    <div class="row">
      <% @user.posts.each do |p| %> 
      <h4><%= link_to "#{p.title}", post_path(p), class:"post_title" %></h4>
      <div>
      <%= button_to "Edit Post", edit_post_path(p), class:"btn post_btns btn-xs", method: :get %>
      <%= button_to "Delete Post", post_path(p), class:"btn post_btns btn-xs", method: :delete %>
      </div>
      <p class="pcontent"><%= p.content %> </p>
      <!-- convert group id to group name -->
      <p><strong>Originally Posted in Group:</strong> <%= p.group_id %></p>
      <hr>
      <% end %>
    </div>
  </div>
</div>