<div id="landing-content">
  <div class="jumbotron">
    <h3 align="center" id="tagline">A platform for collaborative parenting</h3>
  </div>
  <div align="center" id="">
    <a href="#" id="signup-button" class="btn">Sign Up</a>
    <a href="#" id="how" class="btn">Preview the Community<i class="glyphicon glyphicon-chevron-down"></i></a>
    <a href="#"id="signin-button" class="btn">Sign In</a>
  </div>
</div>

<div id="signup-form" class="sign-form">
  <div id="signup-title"><h2 class="text-center">Sign Up<a href="#" class="pull-right close close-btn">close</a></h2></div>
    <!-- error message -->
    <% if @users_error %>
      <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.text_field :full_name, class: "form-input", placeholder: 'Full Name(s)', autofocus: true %>
      <%= f.text_field :username, class: "form-input", placeholder: 'Username' %>
      <%= f.text_field :city, class: "form-input", placeholder: 'City' %>
      <%= f.email_field :email, class: "form-input", placeholder: 'Email' %>
      <%= f.password_field :password, class: "form-input", placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, class: "form-input", placeholder: 'Confirm Password' %>
      <div class="text-right">
        <%= f.submit 'signup', value: "Sign up!", class: "button" %>
      </div>
    <% end %>
</div>
<div id="signin-form" class="sign-form">
  <div id="signin-title"><h2 class="text-center">Sign In<a href="#" class="pull-right close close-btn">close</a></h2></div>
    <!-- error message -->
    <% if @users_error %>
      <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
    <% end %>
    <%= form_for @user, url: "/sessions", method: "POST" do |f| %>
      <%= f.email_field :email, class: "form-input", placeholder: 'Email' %>
      <%= f.password_field :password, class: "form-input", placeholder: 'Password' %>
      <div class="text-right">
        <%= f.submit 'signin', value: "Sign In!", class: "button" %>
      </div>
    <% end %>
</div>





