<div id="landing-content">
  <div class="jumbotron">
    <h1>Parent Website</h1>
    <h3>A website for parents</h3>
  </div>
  <a href="#" id="signup-button">Sign Up</a>
  <a href="#"id="signin-button">Sign In</a>
</div>

<div id="signup-form" class="sign-form">
  <h2 class="text-right">Sign Up</h2>
  <!-- error message -->
  <% if @users_error %>
    <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
  <% end %>
  <%= form_for @user do |f| %>
    <%= f.text_field :full_name, class: "form-input", placeholder: 'Full Name(s)', autofocus: true %>
    <%= f.text_field :username, class: "form-input", placeholder: 'username' %>
    <%= f.text_field :city, class: "form-input", placeholder: 'City' %>
    <%= f.email_field :email, class: "form-input", placeholder: 'Email' %>
    <%= f.password_field :password, class: "form-input", placeholder: 'password' %>
    <%= f.password_field :password_confirmation, class: "form-input", placeholder: 'confirm password' %>
    <div class="text-right">
      <%= f.submit 'signup', value: "Sign up!", class: "button" %>
    </div>
  <% end %>
</div>
<div id="signin-form" class="sign-form">
  <h2 class="text-right">Sign In</h2>
  <!-- error message -->
  <% if @users_error %>
    <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
  <% end %>
  <%= form_for @user, url: "/sessions", method: "POST" do |f| %>
    <%= f.email_field :email, class: "form-input", placeholder: 'Email' %>
    <%= f.password_field :password, class: "form-input", placeholder: 'password' %>
    <div class="text-right">
      <%= f.submit 'signin', value: "Sign In!", class: "button" %>
    </div>
  <% end %>
</div>