<section class='intro'>
  <div class="col-sm-8 col-sm-offset-2 well">
  <h4>A few questions to help us reach others like you.</h4>
    <%= form_for @questionnaire do |f|%>
    <div class="questions col-sm-offset-1">
        <%= label_tag(:question1, "What is your favorite color" )%> <br>
        <%= f.radio_button :question1, 1, :value => 'purple'%> Purple <br>
        <%= f.radio_button :question1, 2, :value => 'blue'%> Blue <br>
        <%= f.radio_button :question1, 3, :value => 'red'%> Red <br>
        <%= f.radio_button :question1, 4, :value => 'green'%> Green <br>
        <br>

        <%= label_tag(:question2, "What is your favorite animal" )%> <br>
        <%= f.radio_button :question2, 1, :value => 'cat'%> cat <br>
        <%= f.radio_button :question2, 2, :value => 'dog'%> dog <br>
        <%= f.radio_button :question2, 3, :value => 'bird'%> bird <br>
        <%= f.radio_button :question2, 4, :value => 'duck'%> duck <br>
        <br>

        <%= label_tag(:question3, "What is your favorite video game" )%> 
        <%= f.radio_button :question3, 1, :value => 'super mario'%> super mario <br>
        <%= f.radio_button :question3, 2, :value => 'pokemon'%> pokemon <br>
        <%= f.radio_button :question3, 3, :value => 'skyrim'%> skyrim <br>
        <%= f.radio_button :question3, 4, :value => 'video games are evil'%> video games are evil <br>
        <br>

        <%= label_tag(:question4, "how much time do you have to spend with other people's childeren?" )%> <br>
        <%= f.radio_button :question4, 1, :value => '2 hours per day'%> 2 hours per day <br>
        <%= f.radio_button :question4, 2, :value => 'once a week'%> once a week <br>
        <%= f.radio_button :question4, 3, :value => 'only in the mornings'%> only in the mornings <br>
        <%= f.radio_button :question4, 4, :value => 'I have no time for anyone elses kids'%> I have no time for anyone else's kids <br>
        <br>

        <%= label_tag(:question5, "What is your favorite form of punishment" )%> <br>
        <%= f.radio_button :question5, 1, :value => 'timeout'%> timeout <br>
        <%= f.radio_button :question5, 2, :value => 'reward bad behavior'%>reward bad behavior <br>
        <%= f.radio_button :question5, 3, :value => 'silent treatment'%> silent treatment <br>
        <%= f.radio_button :question5, 4, :value => 'my child is perfect and does no wrong'%> My child is perfect and does no wrong <br>
        <br>
        <%= f.submit "submit", class: 'btn btn-primary' %> 
    </div>
    <%end%> 
  </div>
</section>