<div class="container">

    <div class="col-sm-8">
    <h3>Thank you for your answers:</h3>
      <h4><%= @questionnaire.question1 %></h4>
      <h4><%= @questionnaire.question2 %></h4>
      <h4><%= @questionnaire.question3 %></h4>
      <h4><%= @questionnaire.question4 %></h4>
      <h4><%= @questionnaire.question5 %></h4>

    <h3>you can now be redirected to your matches</h3>

      </div>
</div>