<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header fixed">
<!-- TOP NAV -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">
      </div>
      <div class="logo"><img class="img" src="http://i.imgur.com/tN7q2Bk.png"/></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <!-- NAVBAR LINKS -->
        <%=link_to "Ocean", users_path, class:"btn" %>
        <%=link_to "Cove", 'compatabilities/show', class:"btn btn-default" %>
        <button id="demo-menu-lower-right" class="btn btn-default">Pools<i class="glyphicon glyphicon-chevron-down" id="pools_glyph"></i></button>
        <!-- DROPDOWN OPTIONS -->
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li class="mdl-menu__item">Yet Another Actiony Action</li>
          <!-- WILL DYNAMICALLY PULL POOL NAMES TO POPULATE -->
        </ul>

        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
<!-- SIDEBAR -->
  <div class="mdl-layout__drawer">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-cropper">
                <%= image_tag current_user.image, class: "img rounded", id: "user_profile_pic" %>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12 left-navigation">
            <h5><%= current_user[:full_name] %></h5>
            <p><%= current_user[:username] %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 left-navigation">
            <p><%= current_user[:city] %></p>
            <p><%= "Joined on #{current_user.created_at.to_date.to_formatted_s(:long_ordinal)}" %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 left-navigation">
            <h6><b>Parenting Mission</b></h6>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 left-navigation">
            <p><%= current_user[:bio] %></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 left-navigation">
            <%=link_to "View Full Profile", current_user, class:"btn btn-primary" %>
            <p>Logout Button Here?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
  </div>
  </main>
</div>