<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header fixed">
<!-- TOP NAV -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">
      </div>
      <div class="logo"><img class="img" src="http://i.imgur.com/tN7q2Bk.png"/></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <!-- NAVBAR LINKS -->
        <%=link_to "Ocean", users_path, class:"btn" %>
        <%=link_to "Cove", users_path, class:"btn btn-default" %>

        <button id="demo-menu-lower-right" class="btn btn-default">Pools<i class="glyphicon glyphicon-chevron-down" id="pools_glyph"></i></button>

        <!-- DROPDOWN OPTIONS -->
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">


            <% @user.memberships.each do |group| %>
              <% group = Group.find(group.group_id) %>
              <%= link_to group_path(group.id) do%>
                <li class="mdl-menu__item"><%= group.name %></li>
              <%end%>
            <% end %>



          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li class="mdl-menu__item">Yet Another Actiony Action</li>
          <!-- WILL DYNAMICALLY PULL POOL NAMES TO POPULATE -->
        </ul>

        <!-- SETTINGS DROPDOWN -->
        <button id="settings-menu" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon ion-gear-a"></i></button>

        <!-- SETTINGS DROPDOWN OPTIONS -->
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="settings-menu">
          <li class="mdl-menu__item"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>
<!-- SIDEBAR -->
  <div class="mdl-layout__drawer">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-cropper">
              <!-- clickable image -->
              <%= link_to current_user do %>
                <img class='img rounded' src="<%=current_user.image%>" >
              <%end%>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12 left-navigation">

            <h5><%= current_user[:full_name] %></h5>
            <small><%= current_user[:username] %> <span class="pull-right">No. of Connections</span></small> <br><br>
            <p><strong>Parenting Mission:</strong> <%= current_user[:mission_statement] %></p>
            <p>Groups</p>
            <p><%= "Joined on #{current_user.created_at.to_date.to_formatted_s(:long_ordinal)}" %></p>

            

          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
  </div>
  </main>
</div>