<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header fixed">
<!-- TOP NAV -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">
      </div>
      <div class="logo"><img class="img" src="http://i.imgur.com/tN7q2Bk.png"/></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <!-- NAVBAR LINKS -->
        <%=link_to "Ocean", users_path, class:"btn" %>
        <%=link_to "Cove", '/compatabilities/show', class:"btn btn-default" %>
        <!-- I FEEL LIKE THAT LINK SHOULD BE NICER -->




        <!-- SETTINGS DROPDOWN -->
        <button id="settings-menu" class="mdl-button mdl-js-button mdl-button--icon"><i class="icon ion-gear-a"></i></button>

        <!-- SETTINGS DROPDOWN OPTIONS -->
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="settings-menu">
          <li class="mdl-menu__item"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>
<!-- SIDEBAR -->
  <div class="mdl-layout__drawer">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-cropper">
              <!-- clickable image -->
              <%= link_to current_user do %>
                <img class='img rounded' src="<%=current_user.image%>" >
              <%end%>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12 left-navigation">

            <h5><%= current_user[:full_name] %></h5>
            <small class="col-sm-offset-1"><%= current_user[:username] %></small><br><br>
    
            <h6 class="col-sm-offset-1">Groups</h6>
            <% current_user.memberships.each do |group| %>
              <% group = Group.find(group.group_id) %>
              <%= link_to group_path(group.id) do%>
                <%= group.name %></br>
              <%end%>
            <% end %>
            <br>

          <%=link_to "New Post", new_post_path, class:"btn newbtns" %>
          <%=link_to "New Group", new_group_path, class:"btn newbtns" %>



        <div class="row">
          <div class="col-sm-12 left-navigation">
            <h6><b>Bio</b></h6>
            <p><%= current_user[:bio] %></p>
          </div>
        </div>

          <p><em>Joined: <%= current_user.created_at.to_date.to_formatted_s(:long_ordinal) %></em></p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
  </div>
  </main>
</div>